/* universal styles */
.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  font-family: "Georgia";
  font-weight: bold;
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
}
.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
/*Header*/

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: 'Veranda';
  font-size: 14px;
  font-weight: bold;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
.logo span {
  color: mediumaquamarine;
}
header nav {
  padding-right: 40px;
}
.column.large {
  width: 630px;
}
.lead-story .image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}
.lead-story .image-content span {
  margin-left: 20px;
}
.fall-cancelled.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}
.pop-culture.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}
.column.medium {
  width: 300px;
}
.cat-ceo.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}
.column.small {
  width: 240px;
}
.news-bites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 41px;

}
.news-bites .bite {
  display: block;
  background-color: whitesmoke;
  font-family: 'Veranda';
  font-size: 12px;
  color: dimgray;
  border-bottom: 1px solid black;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 20px;
  padding-left: 20px;

}
/*Main Content*/

.content {
  display: flex;
  width: 1300px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 78;
  margin-left: auto;
  padding-top: 116px;
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

/* footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 325px;
  background-color: mediumaquamarine;
  margin: auto;
  font-family: 'Veranda';
  font-size: 12px;
}
footer .title {
  display: inline-block;
  padding-right: 25px;
  border-right: 2px solid white;
  font-family: 'Georgia';
  font-size: 16px;
  font-weight: bold;
  color: white;
}
footer nav {
  display: inline-block;
  padding-left: 25px;
}
