/*Header*/

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: 'Veranda';
  font-size: 14px;
  font-weight: bold;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
.logo span {
  color: mediumaquamarine;
}
header nav {
  padding-right: 40px;
}
.column.large {
  width: 630px;
}
.column.medium {
  width: 300px;
}
.column.small {
  width: 240px;
}
/*Main Content*/

.content {
  display: flex;
  width: 1300px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 78;
  margin-left: auto;
  padding-top: 116px;
}
div {
  border: 1px solid black;
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.column.large {
  width: 630px;
}
.column.medium {
  width: 300px;
}
.column.small {
  width: 240px;
}
style.css
Displaying style.css.
